💬 New comment on issue #{{ .issue.number }} in [{{ .repository.full_name }}]({{ .repository.html_url }})

By: [{{ .sender.login }}]({{ .sender.html_url }})
"{{ .comment.body }}"
Link: [{{ .comment.html_url }}]({{ .comment.html_url }})
