🎉 New release `{{ .release.tag_name }}` ({{ .release.name }}) {{ .action }} in [{{ .repository.full_name }}]({{ .repository.html_url }})

By: [{{ .sender.login }}]({{ .sender.html_url }})

[Link]({{ .release.html_url }})
