➕ *Subtask added*

*Project:* `{{ .EventData.task.project_name }}`
*Parent task:* [{{ .EventData.task.title }}]({{ .EventData.task.url }})

*Subtask name:* **{{ .EventData.subtask.title }}**
*Status:* `{{ .EventData.subtask.status_name }}`
*Assignee:* `{{ or .EventData.subtask.assignee_username "unassigned" }}`
