👤 *Task assignee changed*

*Project:* `{{ .EventData.task.project_name }}`
*Task:* [{{ .EventData.task.title }}]({{ .EventData.task.url }})

*New assignee:* **{{ or .EventData.task.assignee_username "unassigned" }}**
