➡️ *Task Moved*

Project: `{{ .EventData.task.project_name }}`
Task: [{{ .EventData.task.title }}]({{ .EventData.task.url }})

New Column: **{{ .EventData.task.column_title }}**
Assignee: `{{ .EventData.task.assignee_username }}`
