✅ New Task Created

*Project:* `{{ .EventData.task.project_name }}`
*Task:* [{{ .EventData.task.title }}]({{ .EventData.task.url }})

*Author:* `{{ .EventData.task.creator_username }}`
*Assignee:* `{{ .EventData.task.assignee_username }}`
*Column:* `{{ .EventData.task.column_title }}`
{{ if .EventData.task.description }}
*Description:*
> {{ .EventData.task.description }}
{{ end }}
