📝 Issue {{ .action }} in [{{ .repository.full_name }}]({{ .repository.html_url }})

Number: #{{ .issue.number }}
Title: {{ .issue.title }}

By: [{{ .sender.login }}]({{ .sender.html_url }})
Link: [{{ .issue.html_url }}]({{ .issue.html_url }})
