🔀 Pull Request {{ .action }} in [{{ .repository.full_name }}]({{ .repository.html_url }})

Number: #{{ .pull_request.number }}
Title: {{ .pull_request.title }}

From `{{ .pull_request.head.ref }}` to `{{ .pull_request.base.ref }}`
By: [{{ .sender.login }}]({{ .sender.html_url }})

Link: [{{ .pull_request.html_url }}]({{ .pull_request.html_url }})
